.resume-main 
{
  width:100vw;
}

.resume-view
{
  margin-left: 5%;
  margin-right: 5%;
}
.resume-page
{
  display: block;
}

.resume-page > *{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.download-btn
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

@media screen (max-width: 768px) {

  .resume-page
  {
    max-width: 80vw;
  }
}

.document-resume{
  display: block;
}

.single-page{
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}