.footer-text {
  text-align: center;
  font-weight: bold;
  font-family: "Google Sans Regular";
}

.footer-div {
  margin-top: 2rem;
}

.git-repo-url{
  text-decoration: none;
}

.git-repo-url:hover{
  text-decoration:overline;
}